# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.*
web/.env.local

# OS
.DS_Store

# Build artifacts
build/
dist/
coverage/

# Vercel
.vercel/
